@import 'base/variables';
* {
    font-family: 'DM Sans';
    -webkit-font-family: 'DM Sans';
}

h1,h2 {
    margin: 0px;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/logo';
@import 'blocks/promo';
@import 'blocks/order-instructions';
@import 'blocks/titles';
@import 'blocks/steps';
@import 'blocks/sale';
@import 'blocks/products';
@import 'blocks/buttons';
@import 'blocks/delivery';
@import 'blocks/fresh-box';
@import 'blocks/footer';
@import 'blocks/media';