@media (max-width: 1279px) {
    .container {
        width: 768px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        &__basket {
            img {
                height: 20px;
            }
        }
    }
    .logo {
        &__wrapper {
            width: 320px;
            justify-content: start;
        }
    }
    .promo {
        display: block;
        height: 992px;
        padding: 64px 32px 32px 32px;
        &__wrapper-left {
            width: 100%;
        }
        &__picture {
            display: block;
            max-height: 393px;
            margin: 0 auto;
            img {
                width: 100%;
                max-height: 393px;
            }
        }
        &__wrapper {
            padding-top: 72px;
        }
        
        &__header {
            font-size: 54px;
            font-weight: 500;
            line-height: 64px;   
        }
        &__subheader {
            letter-spacing: -0.56px;
        }  
        &__buttons {
            width: 224px;
            height: 86px;
            justify-content: space-between;
            align-items:self-end;
        }
        &__button {
            padding: 10px 20px;
            margin: 0;
        }
    }
    .reviews {
        &__item {
            img {
                max-height: 50px;
            }
            &_second {
                margin-left: 36px;
            }
            &_third {
                margin-left: 72px;
            }
            &_fouth {
                height: 54px;
                width: 54px;
                margin-left: 108px;
                font-size: 18px;
                font-weight: 500;
                line-height: 12px;
                padding-top: 14px;
                span {
                    font-size: 10px;
                }
            }
        }
        
    }
    .button {
        height: 114px;
        width: 114px;
        font-size: 24px;
        line-height: 24px;
    }
///////////////////////////////////////////////////
    .order-instructions {
        padding:100px 32px;
        &__title-wrapper {   
            width: 386px;
        }
        &__descr {
            &_left {
                width: 317px;
                margin-right: 20px;
            }
            &_right {
                width:279px;
            }
        }
    }
    .vegetables__wrapper {
        max-width: 310px;
    }
    .title {
        font-size: 28px;
        line-height: 32px;
        padding: 0;
    }
    .title_48 {
        font-size: 40px;
        line-height: 44px;
    }
////////////////////////////////////
    .steps {
        padding: 40px 40px 0 0 ;
        &__img {
            margin-right: 0px;
            margin-top: 36px;
            max-height:443px;
            max-width: 100%;
        }
        &__content {
            margin-left: -33px;
           // h2 {
              //  font-size: 28px;
             //   line-height: 32px; /* 114.286% */
               // letter-spacing: -1.12px;
           // }
        }
    }
    ///////////////////////////////////////////
    .sale {
        height: 352px;
        top: 100px;
        margin-bottom: 44px;
        &__line {
            position: absolute;
            width: 160%;
            height: 64px;
            overflow: hidden;
            padding: 16px 30px;
            color: #F9F7F4;
            font-size: 28px;
            font-weight: 500;
            line-height: 32px;
            left:-4%;
            
            &_orange {
                transform: rotate(2deg);
            }
            &_green {
                margin-top: 30px;
                transform: rotate(-3deg);
                letter-spacing: 1.2px;
            }
        }
        
    }
    ////////////////////////////////////////
   // title

    .catalog {
        min-height: 1960;
        &-item {
            width: 342px;
            padding: 64px 10px 24px 24px;
            margin: 10px 0;
            &__title {
                font-size: 28px;
                font-weight: 700;
                line-height: 32px; /* 118.75% */
                letter-spacing: -1.12px;
            }
        }
    }
    .products__descr {
        padding: 14px 0 30px 0;
    }
    ////////////////////////////////////////////
    .delivery {
        height: 534px;
        display: block;
        margin: 100px 0;
        padding: 40px 80px;
        img {
            display: block;
            margin: 0 auto;
            max-height: 318px;
        }
        &__descr {
            width: 544px;
            margin: 0 auto;
            padding-top: 40px;
            text-align: center;
        }
    }
    //////////////////////////////////////////
    .fresh-box {
        display: block;
        height: 835px;
        margin: 100px 0 173px 0;
        &__descr-wrapper {
            text-align: center;
            width: 100%;
            margin: 98px 0;
            padding: 0 90px
        }
        &__descr {
            display: block;
            margin: 0 auto;
            padding: 20px 0 40px 0;
        }
        &__image {
            height: 463px;
            padding-top: 22px;
            img {
                display: block;
                margin: 0 auto;
                height:440px ;
            }
        }
        .feed-form {
            margin: 0 auto;
        }
    }
    ///////////////////////////////////////
    footer {
        height: 435px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .left__wrapper {
        height: 217px;
        padding: 80px 88px 0 32px;
    }
    .logo__wrapper_footer-mod {
        justify-content: center;
    }
    .menu__wrapper_footer-mod {
        height: 100px;
        width: 393px;
        padding-top: 40px;
        order: 1;
        align-items:start;
    }
    .contacts {
        &__wrapper {
            height: 280px;
            padding: 80px 32px 0 0;
        }
    }

}



@media (max-width: 767px) {
    .container {
        width: 375px;
    }
    .header {
        padding: 13px 20px;
    }
    .menu__wrapper_left {
        display: none;
    }
    .promo {
        height: 762px;
        padding: 48px 20px 20px 20px;
        &__wraper {
            padding-top: 50px;
        }
        &__header {
            font-size: 40px;
            font-weight: 500;
            line-height: 44px;
        }
        &__subheader-wrapper {
            width: 100%;
        }
        &__subheader {
            width: 335px;
            margin-top: 14px;
            margin-bottom: 20px;
        }
        &__wrapper-right {
            padding: 0 16px;
        }
        &__picture {
            max-height: 236px;
            img {
                max-height: 236px;
            }
        }
        &__buttons {
            width: 169px;
            height: 60px;
        }
        &__button {
            padding: 6px 12px;
            font-size: 10px;
            font-weight: 500;
            line-height: 12px;
        }
    }
    .reviews {
        &__item {
            img {
                max-height: 40px;
            }
            &_second {
                margin-left: 28px;
            }
            &_third {
                margin-left: 56px;
            }
            &_fouth {
                height: 44px;
                width: 44px;
                margin-left: 84px;
                font-size: 14px;
                font-weight: 500;
                line-height: 10px;
                padding-top: 10px;
                span {
                    font-size: 8px;
                    font-weight: 400;
                    line-height: 10px; /* 125% */
                    letter-spacing: -0.32px;
                }
            }
        }
    }

    .button {
        height: 68px;
        width: 68px;
        font-size: 14px;
        line-height: 16px;
    }
    /////////////////////////////////////
    .order-instructions {
        height: 596px;
        padding: 80px 20px;
        &__wrapper {
            display: block;
            width: 335px;
        }
        &__title-wrapper {
            width: 335px;
        }
        &__descr {
            display: block;
            font-size: 14px;
            line-height: 18px;
            &_left {
                width: 335px;
                margin-right: 0;
                margin-bottom: 20px;
            }
            &_right {
                width: 335px;
            }
        }
    }
    .title {
        font-size: 24px;
        line-height: 28px;
    }
    .title_48 {
        font-size: 28px;
        line-height: 32px;
    }
    .vegetables__wrapper {
        width: 335px;
       // height: 158px;
        margin: 20px 0;
    }

    ///////////////////////////////////////
    .steps {
        width: 335px;
        flex-direction: column-reverse;
        height: 725px;
        margin: 0 20px;
        padding: 0;
        border-radius:40px;
        background: url('../../img/BG_mobile.png') center center/cover no-repeat;
        background-color: $color-orange-pale;
        &__img {
            max-height: 319px;
        }
        &__content {
            width: 315px;
            margin-left: 20px;
        }
        &__items {
            width: 295px;
        }
        &__item {
            align-items:center;
        }
        &__num {
            min-width: 40px;
            height: 40px;
        }
    }
    ///////////////////////////////
    .sale {
        height: 352px;
        top: 80px;
        margin-bottom: -24px;
        &__line {
            position: absolute;
            width: 247%;
            height: 54px;
            //overflow: hidden;
            color: #F9F7F4;
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
            
            
            &_orange {
                transform: rotate(3deg);
                padding: 12px 0;
                left:-4%;
            }
            &_green {
                margin-top: 14px;
                transform: rotate(-5deg);
                letter-spacing: 1.2px;
                padding: 12px 0;
                left:-55%;
            }
        }
        
    }
    ////////////////////////////////////////
    .products {
        padding: 0 20px;
        &__descr {
            width: 100%;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.56px;
        }
    }
    .catalog {
        padding: 0;
        &-item {
            width:335px;
            height: 443px;
            padding: 40px 10px 20px 20px
        }
    }
    .button {
        &_order {
            height: 80px;
            width: 80px;
            line-height: 24px;
        }
    }
    ////////////////////////////////////////
    .delivery {
        height: 484px;
        margin: 80px 20px;
        padding: 80px 0;
        border-radius: 40px;
        background: url(../../img/BG_mobile.png) center center/cover no-repeat;
        background-color:$color-orange-pale;
        img {
            max-height: 170px;
        }
        &__descr {
            width: 300px;
        }
    }
    /////////////////////////////////////////
    .fresh-box {
        height: 664px;
        padding: 0 20px;
        margin: 0;
        &__descr-wrapper {
            padding: 0 ;
            margin: 0;
            h2 {
                font-size: 24px;
                line-height: 28px;
            }
        }
        &__descr {
            width: 320px;
            font-size: 14px;
            line-height: 18px;
        }
        &__image {
            margin-top: 40px;
            height: 388px;
            border-radius:40px;
            img {
                max-width: 335px;
                height: 100%;
            }
        }
    }
    .feed-form {
        width: 335px;
        height: 48px;
       
    }
    .send-submith {
        right: 0;
    }
    ////////////////////////////////////
    footer {
        display: block;
        height: 640px;
        margin-top: 80px;
        padding: 80px 20px;
    }
    .left__wrapper {
        height: 172px;
        padding: 0;
        img {
            max-height: 172px;
            width: 100%;
        }
    }
    .menu__wrapper {
        padding-top: 60px;
        width: 100%;
        height: 78px;
    }
    .contacts__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 40px 0 0 0;
        text-align: center;
    }
}