.order-instructions {
    padding:124px 32px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__title-wrapper {   
        width: 614px;
    }
    &__descr {
        display: flex;
        justify-content: flex-start;
        margin-top: 40px;
        color: $color-black;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px; /* 133.333% */
        letter-spacing: -0.72px;
        &_left {
            width: 353px;
            margin-right: 40px;
        }
        &_right {
            width:294px;
        }
    }
}
.vegetables__wrapper {
    max-width: 410px;
    img {
        width: 100%;
    }
}